{% extends "base-admin.html.twig" %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>
   

    <table class="table">
        <thead>
            <tr>
                <th>Reservationid</th>
                <th>Arrivaldate</th>
                <th>Departuredate</th>
                <th>Specializedrequest</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
       
        <tbody id="myTable">
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.reservationid }}</td>
                <td>{{ reservation.arrivaldate ? reservation.arrivaldate|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.departuredate ? reservation.departuredate|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.specializedrequest }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'reservationid': reservation.reservationid}) }}">show</a>
                    <a href="{{ path('app_reservation_edit', {'reservationid': reservation.reservationid}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
         </tbody>
        <tbody id="search">
    </table>

    <a href="{{ path('app_reservation_new') }}">Create new</a>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}
